body{
  margin: 0;
  background-color: burlywood;
}
input{
 background-image: url('../img/buscador.png');
  background-position: -20px -12px;
 background-repeat: no-repeat;
 width: 50%;
 font-size: 16px;
 padding: 12px 20px 12px 40px;
 border: 1px solid #ddd;
 margin-bottom: 12px;
margin-left: 2%;
  border-radius: 52px;
}
table{
  border: 1px solid #ddd;
  margin-left: 20px;
  width: 96%;
  background-color: cadetblue ;
}
th{
  border: 1px solid #ddd;
}
td{
  border: 1px solid #ddd;
}
h2{
  margin-left: 30%;
  font-family: verdana sans-serif;
  font-size: 50px;
}
th{
  background-color: #ddd;
}

tr:hover{
  background-color: azure;
}